/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444856 #ffffff00;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #444856;
  border: 0px none #444856;
}

.link {
  color: #afadf0 !important;
  text-decoration: none;
}
body {
  font-family: "Inter";
  src: local("Inter"),
    url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);
  font-weight: 400;
  background-color: #141414;
  color: white;
}
input {
  background-color: #282828 !important;
  border-width: thin !important;
  border-color: #141414 !important;
  color: white !important;
}
textarea {
  background-color: #282828 !important;
  border-width: thin !important;
  border-color: #141414 !important;
  color: white !important;
}
.text-wheat {
  color: wheat !important;
}
.fs_primary {
  font-size: 1.1rem;
}
.fs_secondary {
  font-size: 0.8rem;
}

.bg_secondary {
  background-color: #f0f0f0;
  color: black;
}
.img_cover {
  object-fit: cover;
}
.img_contain {
  object-fit: contain;
}
.bg_pallete_1 {
  background-color: #141414;
  color: white;
}

.bg_pallete_2 {
  background-color: #1b1a54;
  color: white;
}

.bg_pallete_3 {
  background-color: #525c91;
  color: white;
}

.bg_pallete_4 {
  background-color: #9290c2;
  color: white;
}
.bg_pallete_5 {
  background-color: #212121;
}

select {
  background-color: #0078d7 !important;
  color: white !important;
  border: 0px !important;
}
select option {
  background-color: #141414 !important;
  color: white !important;
  border: 0px !important;
}

.filepond--root .filepond--image-preview {
  background: black !important;
  border-radius: 15px;
}
.filepond--drop-label {
  background: black !important;
  color: white !important;
  border: 0;
  border-radius: 15px;
}
.filepond--list-scroller {
  background: black !important;
  color: white !important;
  border: 0;
  border-radius: 15px;
}
.MuiButtonBase-root {
  color: white !important;
  border-radius: 15px;
}
.filepond--panel {
  background: black !important;

  border-radius: 15px !important;
}

/* Font Size Breakpoint */
@media (max-width: 576px) {
  .fs-sm-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  .fs-sm-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .fs-sm-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  .fs-sm-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .fs-sm-5 {
    font-size: 1.25rem !important;
  }
  .fs-sm-6 {
    font-size: 1rem !important;
  }
}

@media (min-width: 576px) {
  .fs-md-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  .fs-md-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .fs-md-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  .fs-md-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .fs-md-5 {
    font-size: 1.25rem !important;
  }
  .fs-md-6 {
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {
  .fs-lg-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  .fs-lg-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .fs-lg-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  .fs-lg-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .fs-lg-5 {
    font-size: 1.25rem !important;
  }
  .fs-lg-6 {
    font-size: 1rem !important;
  }
}

@media (min-width: 992px) {
  .fs-xl-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  .fs-xl-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .fs-xl-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  .fs-xl-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .fs-xl-5 {
    font-size: 1.25rem !important;
  }
  .fs-xl-6 {
    font-size: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .fs-xxl-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  .fs-xxl-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .fs-xxl-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  .fs-xxl-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .fs-xxl-5 {
    font-size: 1.25rem !important;
  }
  .fs-xxl-6 {
    font-size: 1rem !important;
  }
}

/* Font Size Breakpoint */

/* width Breakpoint */
@media (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-90 {
    width: 90% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-10 {
    width: 10% !important;
  }
}

@media (min-width: 576px) {
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-90 {
    width: 90% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-10 {
    width: 10% !important;
  }
}

@media (min-width: 768px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-90 {
    width: 90% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-10 {
    width: 10% !important;
  }
}

@media (min-width: 992px) {
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-90 {
    width: 90% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-10 {
    width: 10% !important;
  }
}

@media (min-width: 1200px) {
  .w-xxl-100 {
    width: 100% !important;
  }
  .w-xxl-90 {
    width: 90% !important;
  }
  .w-xxl-75 {
    width: 75% !important;
  }
  .w-xxl-50 {
    width: 50% !important;
  }
  .w-xxl-25 {
    width: 25% !important;
  }
  .w-xxl-10 {
    width: 10% !important;
  }
}

/* width Breakpoint */

/* height Breakpoint */
@media (max-width: 576px) {
  .h-sm-100 {
    height: 100% !important;
  }
  .h-sm-75 {
    height: 75% !important;
  }
  .h-sm-50 {
    height: 50% !important;
  }
  .h-sm-25 {
    height: 25% !important;
  }
}

@media (min-width: 576px) {
  .h-md-100 {
    height: 100% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
  .h-md-25 {
    height: 25% !important;
  }
}

@media (min-width: 768px) {
  .h-lg-100 {
    height: 100% !important;
  }
  .h-lg-75 {
    height: 75% !important;
  }
  .h-lg-50 {
    height: 50% !important;
  }
  .h-lg-25 {
    height: 25% !important;
  }
}

@media (min-width: 992px) {
  .h-xl-100 {
    height: 100% !important;
  }
  .h-xl-75 {
    height: 75% !important;
  }
  .h-xl-50 {
    height: 50% !important;
  }
  .h-xl-25 {
    height: 25% !important;
  }
}

@media (min-width: 1200px) {
  .h-xxl-100 {
    height: 100% !important;
  }
  .h-xxl-75 {
    height: 75% !important;
  }
  .h-xxl-50 {
    height: 50% !important;
  }
  .h-xxl-25 {
    height: 25% !important;
  }
}

/* height Breakpoint */

/* max width */
@media (max-width: 576px) {
  .mw-sm-100 {
    max-width: 100% !important;
  }
  .mw-sm-75 {
    max-width: 75% !important;
  }
  .mw-sm-50 {
    max-width: 50% !important;
  }
  .mw-sm-35 {
    max-width: 35% !important;
  }
  .mw-sm-25 {
    max-width: 25% !important;
  }
}
@media (min-width: 576px) {
  .mw-md-100 {
    max-width: 100% !important;
  }
  .mw-md-75 {
    max-width: 75% !important;
  }
  .mw-md-50 {
    max-width: 50% !important;
  }
  .mw-md-35 {
    max-width: 35% !important;
  }
  .mw-md-25 {
    max-width: 25% !important;
  }
}
@media (min-width: 768px) {
  .mw-lg-100 {
    max-width: 100% !important;
  }
  .mw-lg-75 {
    max-width: 75% !important;
  }
  .mw-lg-50 {
    max-width: 50% !important;
  }
  .mw-lg-35 {
    max-width: 35% !important;
  }
  .mw-lg-25 {
    max-width: 25% !important;
  }
}
@media (min-width: 992px) {
  .mw-xl-100 {
    max-width: 100% !important;
  }
  .mw-xl-75 {
    max-width: 75% !important;
  }
  .mw-xl-50 {
    max-width: 50% !important;
  }
  .mw-xl-35 {
    max-width: 35% !important;
  }
  .mw-xl-25 {
    max-width: 25% !important;
  }
}
@media (min-width: 1200px) {
  .mw-xxl-100 {
    max-width: 100% !important;
  }
  .mw-xxl-75 {
    max-width: 75% !important;
  }
  .mw-xxl-50 {
    max-width: 50% !important;
  }
  .mw-xxl-35 {
    max-width: 35% !important;
  }
  .mw-xxl-25 {
    max-width: 25% !important;
  }
}

@media (max-width: 576px) {
  .fs_sm_primary {
    font-size: 1.1rem;
  }
  .fs_sm_secondary {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .fs_md_primary {
    font-size: 1.1rem;
  }
  .fs_md_secondary {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .fs_lg_primary {
    font-size: 1.1rem;
  }
  .fs_lg_secondary {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .fs_xl_primary {
    font-size: 1.1rem;
  }
  .fs_xl_secondary {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .fs_xxl_primary {
    font-size: 1.1rem;
  }
  .fs_xxl_secondary {
    font-size: 0.8rem;
  }
}

/* display unset */
@media (max-width: 576px) {
  .d-sm-unset {
    display: unset !important;
  }
}

@media (min-width: 576px) {
  .d-md-unset {
    display: unset !important;
  }
}

@media (min-width: 768px) {
  .d-lg-unset {
    display: unset !important;
  }
}

@media (min-width: 992px) {
  .d-xl-unset {
    display: unset !important;
  }
}

@media (min-width: 1200px) {
  .d-xxl-unset {
    display: unset !important;
  }
}
